* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  position: relative;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Heebo', sans-serif; */
}
/* header */
.header{
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    background: #fff;  
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.bg-wrapper {
    max-width: 100%;
    height: 100vh;
    background-image: url(./img/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-blur {
    display: none;
    position: absolute;
    width: 100%;
    height: 30vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.bg-overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-bar {
    position: sticky;
    top: 0;
    scroll-padding-top: 3rem;
}

.bg-team {
    margin-bottom: 30px;
    padding: 20px 0;
}
.bg-learning{
    padding-top: 20px;
   margin-bottom: 30px;
}
.team-para {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

ol,
ul {
    padding-left: 0;
}

.fixed-top {
    position: fixed;
    padding: 20px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.muzammil {
    
    padding: 50px 0;
}

.nav-sticky {
    background-color: #6CB0EF;
    margin-top: 0px;
    box-shadow: 0 0 3px rgb(36 39 44 / 15%);
}

.hero-section .btn {
    text-align: center;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid white;
}

.hero-section .btn:hover {
    background-color: rgb(255, 255, 255);
    color: #716969 !important;
}

.hero-section {
    position: absolute;
    top: 12%;
}

.hero-section1 {
    position: absolute;
    top: 60%;
}

.hero-section h1,
h2,
p,
.nav-link {
    color: white;
}

.hero-section1 h1,
h2,
p,
.nav-link {
    color: white;
}

.navbar-title {
    font-size: 35px;
    font-weight: bold;
}

.navbar {
    transition: all 0.5s ease;
    padding: 0;
}

.nav-item a {
    font-weight: 600;
}

.nav-bar .navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.team-header {
    color: #333;
}

.user-card {
    position: relative;
    width: 76%;
    left: 12%;
}

.fa-user {
    padding: 20px;
    font-size: 30px;
}

.team-user img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.fa-user {
    color: #6CB0EF;
    font-size: 70px;
}

.card p {
    margin-bottom: 0;
    font-size: 14px;
    color: rgb(154 157 157);
}

.social-icon a i {
    font-size: 12px;
    color: rgba(69, 70, 70, 0.5);
}

.social-icon a i:hover {
    color: rgba(0, 34, 255, 0.5);
}

.team-tittle {
    color: #333;
}

.grp-icon {
    color: #a7a5a5;
}

.divider {
    width: 20%;
    border-bottom: 2px solid rgba(167, 165, 165, 0.5);
    vertical-align: middle;
}

.fa-users {
    font-size: 20px;
    margin: 0 20px;
    vertical-align: bottom;
}

.breadcrumb {
    margin-top: 1rem;
}

.breadcrumb-item a {
    color: gray;
}

.breadcrumb-item a:hover {
    color: rgb(5, 9, 244);
}

li {
    list-style-type: none;
}

.sidebar-list a {
    display: block;
    padding: 8px;
    text-align: center;
    ;
    box-shadow: .1rem .1rem .3rem rgb(203, 198, 198);
    border-radius: 10px;
    color: rgb(128, 128, 128);
}

.sidebar-list a:hover {
    color: #fff;
    background-color: rgb(14, 56, 118);
}

.para {
    color: grey;
}
.card h3{
    padding: 1rem 1rem 0 1rem;
}
.card-btn{
    margin:  1rem;
}
.copyrights {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    background-color: rgb(203, 198, 198, .2);
}

.copyright {
    font-size: 14px;
    padding: 10px;
    background-color: rgba(203, 198, 198, .2);
}


/* flip

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
  }
  .flip-card-back {
    background-color: rgba(158, 171, 171,.3);
    transform: rotateY(180deg);
  }
  .flip-card-back p{
      color: #333;
  }
  .flip-card-back h1{
      margin-top: 80px;
  } */

  /* PRODUCTS */

  .bg-products{
      width: 100%;
      height: 100vh;
      background-image: url(./img/bg-scout-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
  }
.product-text{
    margin-top:100px;
}
.before-para{
    margin-right:50px;
}
  .products-hero-section h1{
    font-size: 90px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
.before-product p{
font-size: 25px;
font-family: 'Montserrat', sans-serif;
padding: 0 30px;
font-style: normal;
font-weight: 90;
}
.before-product ::before{
    content: '';
    position: absolute;
    height: 75px;
    width: 5px;
    background-color: #fff;
    margin-left: -50px;

}
  .img{
    border-radius: 50px;
  }
  .product-change{
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    width: 750px;
    overflow: hidden;
  }
  .pro-trans{
    background-color: #fff;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 280px;
    animation: openclose 5s ease-in-out infinite;
  }
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 350px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 350px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 350px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
  .product-change{
      color:#fff;

  }
  .driven{
      margin-left:30px;
  }

  /* btn hover */

  .card-btn{
  position :relative;
  border: 2px solpxid currentColor;
  color :#000;
  overflow: hidden;
  text-decoration:none;
  transition: .2s transform ease-in-out;
  will-change :transform;
  z-index :0;
}
.btn-light:hover {
    color: #fff;
    background-color: black;
    border-color: black;
   
}

.bg-pro{
    position: absolute;
    top: 0;
    z-index: 2;
}


.planePath {
    stroke: #D9DADA;
    stroke-width: .9%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
  }
  
  .fil1 {
    fill: #D9DADA;
  }
  
  .fil2 {
    fill: #C5C6C6;
  }
  
  .fil4 {
    fill: #9D9E9E;
  }
  
  .fil3 {
    fill: #AEAFB0;
  }